.box{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 5px solid black;
    background-color: green;

    animation-name: movingBox;
    animation-duration: 2150ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}